<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Angular stuff-->
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>

    <!--<script src="app.js"></script>-->
    <script src="/js/map.js"></script>
	<!-- Latest Font-awesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <!-- Our CSS -->
    <link rel="stylesheet" href="/css/main.css" />

    <title>EventGo: Find what's happening near you now!</title>
</head>
<script>
    var myapp = angular.module('myapp', []);
	var eventVar;

    myapp.controller('EventListController', ['$scope', '$http', function($scope, $http) {
        $scope.eventList = [];
        $http.get('/events/get/all').then(function (events) {
            console.log(events);
            $scope.eventList = events.data;
            eventVar = events.data;
            loadPoints();
        }).catch(function (err) {
            console.log('err: ', err);
        })
    }]);

</script>

<body ng-app="myapp" ng-controller="EventListController">
    <header>
        <nav id="eventgo-navbar" class="navbar navbar-default">
            <div class="eventgo-navbar-container container">
                <div class="navbar-header">
                    <img width="50%" height="50%" src="/images/banner.png" />
                </div>
            </div>
        </nav>
    </header>

    <div class="eventgo-main">
        <div class="eventgo-container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="event-finder-view">
                        <div class="event-finder__header">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Find out what's poppin' now" ng-model="searchEvent">
                                <!-- <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span> -->
                            </div>
                        </div>
                        <div class="event-finder__body" >
                            <ul class="list-group">
                                <li ng-repeat="evnt in eventList | orderBy:'-population' | filter:searchEvent" class="list-group-item">
                                    <div class="eventgo-list-container container">
                                        <div class="row">
                                            <!--<div id="event-id" class="col-sm-1">
                                                <p>{{i}}.</p>
                                            </div>-->
                                            <div id="event-info" class="col-sm-9">
                                                <a id="event-name">{{ evnt.name }}</a>
                                                <!--<h4 id="event-location">{{evnt.location}}</h4>-->
                                            </div>
                                            <div class="col-sm-2">
                                                <div id="event-population">
                                                    <h4>{{ evnt.population }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9">
					<div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="eventgo-footer">
            <h4>Made with <i id="coffee-icon" class="fa fa-coffee" aria-hidden="true"></i> and <i id="love-icon" class="fa fa-heart" aria-hidden="true"></i> at McHacks 2017</h4>
        </div>
        <div class="cookie-popup">
            <div class="container">
                <div class="row cookie-message">
                    <h4>This site uses cookies and your location to find out awesome events happening near you now.</h4>
                </div>
                <div class="row buttons">
                    <div class="col-sm-6">
                        <div id="accept-btn" class="btn btn-default">
                            I Accept Cookies
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="refuse-btn" class="btn btn-default">
                            I Refuse Cookies
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDYC6yCadsAocxpXUAa5f1LAbJfue062I&callback=loadMap" async defer></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $("#accept-btn").click(function() {
                $(".cookie-popup").hide();
            });
            $("#refuse-btn").click(function() {
                $(".cookie-popup").hide();
            });
        });
    </script>

</body>
</html>
