<div class="event-finder-view">
    <div class="event-finder__header">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find what's popping now">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
    </div>
    <div class="event-finder__body">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">HI {{eventgoCtrl.name}}</h4>
                <p class="list-group-item-text"></p>
            </a>
        </div>
    </div>
</div>