@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

h1 {
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

h3 {
	font-weight: normal;
	padding: 0px;
	margin: 0px;

}

html, body {
	overflow-y: hidden;
	font-family: 'Open Sans', sans-serif;
}

/* This file contains all the styling elements for the entire application */

#eventgo-navbar {
    background-color: #2aa198;
}

#eventgo-navbar {
	background-color: #ff7631;
	border: none;
	border-radius: 0px;
	min-height: 75px;
	margin-bottom: 0px;
}

.eventgo-icon {
	width: 45px;
	float: left;
	margin-right: 10px;
}

#map{
	height: 100%;
	/*width: 100%;*/
}

.eventgo-navbar-container {
	padding: 10px 0;
	margin-left: 0px;
}

.navbar-header .navbar-brand {
	font-size: 20px;
	color: #f1f1f1;

}

.navbar-header {
	left: 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	color: #f1f1f1;
}

.eventgo-main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: inline-block;
}

.eventgo-main .eventFinderView {
	height: 100%;
	border-right: 2px solid #777;
}

.eventgo-container-fluid {
	height: 100%;
}

.eventgo-container-fluid .row {
	height: 100%;
	margin-right: 0;
	margin-left: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	background-color: #333;
}

footer .eventgo-footer {
	padding: 10px 0;
}

footer h4 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

#coffee-icon {
	color: #B55A00;
}

#love-icon {
	color: #ff0000;
}

.col-sm-3, .col-sm-9, .col-sm-11, .col-sm-2 {
	padding-left: 0;
	padding-right: 0;
	height:100%;
}

.event-finder-view {
	height: 100%;
}

.event-finder-view .form-control {
	border-radius: 0;
	height: 50px;
	border: none;
}

.form-control:focus {
	box-shadow: 0;
}

.event-finder__header {
	width: 100%;
	border-right: 1px solid #ddd;
	box-shadow: none;
	outline: 0 none;
}

.none {
	box-shadow: none;
	outline: 0 none;
}


.event-finder-view .input-group-btn button:selected {
	box-shadow: 0;
	border: 0;
	box-shadow: none;
	outline: 0 none;
}

.input-group {
	width: 100%;
	border: 0;
	box-shadow: none;
	outline: 0 none;
}

.input-group:selected {
	box-shadow: 0;
}

.event-finder__body .list-group .list-group-item {
	border-radius: 0;
	overflow-y: scroll;
}

.eventgo-list-container {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.eventgo-list-container {
	padding: 6px 0;
}

#event-info a {
	font-size: 18px;
	line-height: 30px;
	color: #444;
	font-weight: 700;
}

#event-info a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #ff7631;
}

#event-id {
	font-size: 12px;
	padding-top:5px;
}

#event-population {
	width: 40px;
	height: 40px;
	background: #f1f1f1;
	position: absolute;
	margin-top: -4px;
	border-radius: 2px;
	margin-left: 25px;
}

#event-population h4 {
	text-align: center;
	color: #888;
	font-weight: 100;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: none;
  outline: 0 none;
}

.cookie-popup {

	min-height: 30px;
	background: #777;
}

.cookie-popup .buttons {
	max-width: 24em;
	margin: 0 auto;
}

@media only screen and (max-width: 767px) {
	.col-sm-3, .col-sm-9 {
		width: 100%;
	}
}
